*
{margin: 0;
padding:0; }
header
{
background-image:url(coloradospringswebdesigners.jpg);

height:100vh;
background-size: cover;
background-position:center ;
}
.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.main-nav li
{
display: inline-block;
}
.main-nav li a
{
    color: wheat;
    text-decoration: none;
    padding: 5px 20px;
    font-family: 'times new roman', Times, serif,sans-serif;
    font-size: 15px;

}
.main-nav li.active a
{
border:1px solid white;
}
.main-nav li a:hover
{
    border: 1px solid white;
}
.logo img
{
    width: 125px;
    height: auto;
    float: left;
}
body
{
font-family: monospace;
}
.row
{
    max-width: 1200px;
    margin: auto;
}
.hero
{
    position: absolute;
    width: 1200px;
    margin-left: 0px;
    margin-top: 0px;
  

}
h1
{
    color:red;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top: 120px;

}
.button
{
    margin-top: 30px;
    margin-left: 440px;

}
.btn 
{
    border: 1px solid white;
    padding: 10px 30px;
    color: red;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: bold,uppercase;

}
.btn-one
{
    background-color: gray;
    font-family: 'Times New Roman', Times, serif;
}
.btn-two
{
    font-family: 'Times New Roman', Times, serif;
}
.btn-two:hover
{
    background-color: gray;
    transition: all 0.5s ease-in;
}
.para
{
    position: absolute;
    width: 1200px;
    margin-left: 3px;
    margin-top: 0px;
}
h2
{color: red;
   margin-top: 20px;
    text-align: center;
}